<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.jeroenhd.app.bcbreader">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BCBReaderApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/fullbackupscheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ChapterListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChapterReadingActivity"
            android:label="@string/title_activity_chapter_reading"
            android:parentActivityName=".ChapterListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.jeroenhd.app.bcbreader.ChapterListActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".FullscreenReaderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_reader"
            android:theme="@style/FullscreenTheme"/>
    </application>

</manifest>