<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.jeroenhd.app.bcbreader">

    <!-- This permission is required to download anything -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- This permission is used to enable notifications when the device starts -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- This permission is used in order to use the WakefulBroadcastReceiver in UpdateEventReceiver.java -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".BCBReaderApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/fullbackupscheme"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.ChapterListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.ChapterListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.jeroenhd.app.bcbreader.activities.ChapterListActivity" />
        </activity>
        <activity
            android:name=".activities.FullscreenReaderActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen_reader"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.jeroenhd.app.bcbreader.activities.ChapterListActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="nl.jeroenhd.app.bcbreader.ACTION_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- The BCB domains -->
                <data
                    android:host="bittersweetcandybowl.com"
                    android:pathPattern="/c.*/p.*\\.html"
                    android:scheme="http" />
                <data
                    android:host="bittersweetcandybowl.com"
                    android:pathPattern="/c.*/p.*\\.html"
                    android:scheme="https" />
                <data
                    android:host="www.bittersweetcandybowl.com"
                    android:pathPattern="/c.*/p.*\\.html"
                    android:scheme="http" />
                <data
                    android:host="www.bittersweetcandybowl.com"
                    android:pathPattern="/c.*/p.*\\.html"
                    android:scheme="https" />
                <data
                    android:host="bcb.cat"
                    android:pathPattern="/c.*/p.*\\.html"
                    android:scheme="http" />
                <data
                    android:host="www.bcb.cat"
                    android:pathPattern="/c.*/p.*\\.html"
                    android:scheme="http" />
                <data />
            </intent-filter>
        </activity>
    </application>

</manifest>